:root {
  --m-bg: #ececec; /* main bg*/
  --s-bg: #f9f9f9; /* section bg*/
  --nero: #1e1e1e;
  --mortar: #545454; /* or shadow - #444444 */
  --gray: #7c7c7c;
  --l-gray: #e0e0e0;
  --dim-gray: #646464;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--nero);
  scroll-behavior: smooth;
}
#main {
  background: var(--m-bg);
  margin: auto;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--s-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.desc {
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

/* ---------- Header ---------- */
.header {
  padding: 30px;
  position: relative;
}
.i {
  font-size: 1rem;
  font-weight: bold;
}
#title {
  display: inline-block;
  margin: auto;
  font-size: 6rem;
  font-weight: 900;

  cursor: pointer;
  background: linear-gradient(
    45deg,
    hsl(342, 100%, 50%),
    hsl(13, 90%, 58%),
    hsl(44, 100%, 61%),
    hsl(113, 66%, 68%),
    hsl(201, 100%, 46%),
    hsl(212, 80%, 32%),
    hsl(260, 100%, 64%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: pride-ani 8s ease-in-out infinite forwards;
}

@keyframes pride-ani {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#caption {
  padding: 0 auto;
  font-size: small;
  font-style: oblique;
}

/* ---------- Image ---------- */

#img-div {
  background: var(--s-bg);
  border-radius: 2px;
  margin: 10px;
  padding: 40px;
}
#image {
  box-shadow: 2px 2px 6px var(--mortar);
  display: block;
  margin: auto;
  border-radius: 2px;
  width: 70%;
  height: auto;
}
#img-caption {
  font-size: 14px;
  padding: 20px 0 0 0;
  margin: auto;
}

/* ---------- Tribute Info ---------- */

#tribute-info {
  background: var(--s-bg);
  border-radius: 2px;
  margin: 10px;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tr-heading {
  margin-top: 20px;
}
.tr-heading p {
  text-align: justify;
  width: 800px;
  margin: 20px 40px;
  padding: 0;
}
#tribute-info ul {
  text-align: left;
  width: 800px;
  margin: 20px 40px 40px 40px;
  padding: 0;
  list-style: none;
}
span {
  font-weight: bold;
}

/* ---------- Blockquote ---------- */

.quote {
  border: 1px solid var(--gray);
  background-color: var(--l-gray);
  font-family: "DM Serif Display", serif;
  border-radius: 2px;
  margin: 20px 100px;
  padding: 30px;
  text-align: left;
}
.quote::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  position: absolute;
  margin: -16px 0 0 -10px;
  content: "\f10d";
  font-weight: 900;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.1);
}
.credit {
  padding: 5px;
  font-weight: bold;
  text-align: right;
}

/* ---------- More Info ---------- */

.more-info {
  font-size: 1.2rem;
  padding: 30px;
}

/* ---------- Footer ---------- */

footer {
  background: var(--s-bg);
  color: var(--gray);
  font-family: "Prompt", sans-serif;
  font-size: small;
  border-radius: 2px;
  margin: 10px;
  padding: 20px;
}
footer span {
  color: var(--gray);
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  display: block;
  font-size: 0.8rem;
}
.link {
  font-size: 0.8rem;
  font-weight: bolder;
  text-decoration: underline;
  color: var(--gray);
  transition: all 0.2s ease-in-out;
}
.link:hover {
  color: var(--nero);
}

/* ------------------- media quires -------------------- */
@media screen and (max-width: 1000px) {
  #image {
    width: 90%;
  }

  .tr-heading p {
    font-size: 14px;
    width: auto;
    margin: 20px;
    padding: 0;
  }
  #tribute-info ul {
    width: auto;
    font-size: 14px;
  }

  .quote {
    margin: 0 40px;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 30px 30px 10px 30px;
  }
  #title {
    font-size: 3rem;
  }
  #caption {
    font-size: 12px;
    padding: 10px;
  }

  #img-div {
    padding: 10px;
  }
  #image {
    width: 90%;
  }
  #img-caption {
    font-size: 10px;
  }

  .tr-heading p {
    font-size: 12px;
    width: auto;
    margin: 20px;
  }
  #tribute-info ul {
    width: auto;
    font-size: 12px;
  }

  .quote {
    font-size: 12px;
    margin: 20px 50px 0 50px;
    padding: 20px;
  }
  .quote::before {
    margin: -5px 0 0 -5px;
    font-size: 30px;
  }

  footer span,
  .link {
    font-size: 10px;
  }
}
