* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Prompt", sans-serif;
  line-height: 1.4;
}
.container {
  max-width: 1200px;
  overflow: auto;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Courier Prime", monospace;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* ---------- navbar ------------ */

nav {
  position: fixed;
  padding: 12px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #094067;
  z-index: 1111;
}
.logo {
  font-family: "Paytone One", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fffffe;
  animation: bounce 1s ease-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(2px);
  }
}
.nav-list {
  font-size: 2.2rem;
  display: flex;
}
.nav-list a {
  margin: 0 20px;
  padding-bottom: 8px;
  color: #fffffe;
}
.nav-list a:hover {
  color: #3da9fc;
  border-bottom: 2px solid #3da9fc;
}

/* --------- About Section ---------- */
#welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  height: 100vh;
  padding: 0 80px;
}
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-container img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: hsla(205, 34%, 41%, 0.4);
}
.about {
  padding: 90px 80px 0;
  z-index: 10;
  width: 100%;
  color: #fffffe;
  margin-top: 80px;
}
.pandi {
  padding: 90px 80px;
  z-index: 10;
  width: 100%;
  color: #fffffe;
}
.fa-arrow-down {
  background: hsla(205, 34%, 41%, 0.8);
  font-size: 5rem;
  padding: 6rem;
  border-radius: 50%;
  animation: bounce 1s ease-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(8px);
  }
}
#welcome-section h1 {
  font-size: 8rem;
  margin-bottom: 1.5rem;
  animation: slideFromRight 2s ease-out;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#welcome-section h4 {
  font-size: 3rem;
  animation: slideFromLeft 2s ease-out;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#welcome-section p {
  font-size: 2rem;
  animation: slideFromRight 2s ease-out;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* --------- Works Section ---------- */
#projects {
  padding-top: 80px;
  background: #fffffe;
  color: #094067;
}
.grid {
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 60px;
  width: 100%;
  align-items: center;
}
.grid article {
  background: transparent;
  border: 0.5px solid hsla(205, 84%, 22%, 0.1);
  border-radius: 10px;
  width: 40rem;
  margin: auto;
  transition: transform 0.5s ease-out;
}
.grid article:hover {
  transform: translateY(-8px);
  border: 0.1px solid hsla(205, 84%, 22%, 0.507);
  box-shadow: 0.5px 0.5px 1px 0 #90b4ce;
}
.grid > article img {
  width: 100%;
  height: 264px;
  border-radius: 10px 10px 0 0;
}
.projects-section {
  text-align: center;
}
.projects-section-header {
  width: auto;
  padding: 6rem 6rem 0 6rem;
  font-size: 3rem;
}
.details {
  padding: 10px;
  color: #094067;
}
.details h3 {
  font-size: 1.2rem;
  padding: 0 0 10px 0;
  font-family: "poppins", sans-serif;
}
.details p {
  font-size: 2.2rem;
  padding: 5px 0;
}

/* --------- Contact Section ---------- */
#contact {
  background: #90b4ce;
  color: #fffffe;
  padding: 40px;
}
.contact-section-header {
  font-size: 3rem;
  margin: 40px auto;
}
.contact-links {
  margin: 40px auto;
}
.contact-links a,
li {
  display: inline-block;
  color: #094067;
  font-size: 1.8rem;
  margin: 0 10px;

  transition: transform 0.3s ease-out;
}
.contact-links li,
a:hover {
  transform: translateY(-6px);
}

/* --------- Footer Section ---------- */
footer {
  background: #094067;
  color: #90b4ce;
  font-family: "Prompt", sans-serif;
}
footer span {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  display: block;
  font-size: 1.5rem;
  color: hsla(205, 39%, 69%, 0.726);
}
.link {
  font-family: "Prompt", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: underline;
  color: hsla(205, 39%, 69%, 0.726);
  transition: all 0.2s ease-in-out;
}
.link:hover {
  color: #ffffff;
}

/* --------- Media Queries ---------- */

@media screen and (max-width: 769px) {
  #welcome-section {
    padding: 0 10px;
    align-items: center;
    text-align: center;
  }

  .grid {
    padding: 70px;
  }
  .grid article {
    width: 25rem;
  }
  .grid > article img {
    height: 200px;
  }
  .details h3 {
    font-size: 1.2rem;
  }
  .details p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  #navbar {
    display: flex;
    flex-direction: column;
  }
  .logo {
    font-size: 2.5rem;
  }
  .nav-list {
    padding: 20px 0 0 0;
    font-size: 1.8rem;
  }
  .nav-list a {
    margin: 0 30px;
  }

  #welcome-section {
    padding: 0 5px;
  }
  #about {
    padding: 0 10px;
  }
  #welcome-section h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }
  #welcome-section h4 {
    font-size: 2.2rem;
  }
  #welcome-section p {
    font-size: 1.8rem;
  }

  .grid {
    padding: 50px;
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-section-header {
    font-size: 2rem;
    margin: 20px auto;
  }
  .contact-links {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-links a {
    padding: 5px;
    font-size: 1.6rem;
  }

  footer span {
    padding: 20px;
    font-size: 1.4rem;
  }
}
